
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: black;
    color: white;
    overflow-y: scroll;
    width: 96vw;
}
h1 {
    font-size: 3em;
    background: linear-gradient(120deg, rgba(0,179,57,1) 0%, rgba(63,206,254,1) 35%, rgba(123,245,109,1) 72%, rgba(0,255,166,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: linear-gradient(120deg, rgba(0,179,57,1) 0%, rgba(63,206,254,1) 35%, rgba(123,245,109,1) 72%, rgba(0,255,166,1) 100%);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: whitesmoke;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}

.border-bottom {border-bottom: white 2px solid;}
.border-top {border-top: white 2px solid;}

.animation-container-fit-content {
    overflow: visible;
    width: fit-content;
}

.grid-item {margin-top:10px;margin-bottom: 10px;}

.text-section {min-width: 200px;}

.float-right {float: right;}

.text {word-wrap: break-word;}

.animation-container {
    overflow: visible;
}

.centered {margin:auto;text-align: center; align-content: center;}
.full-width {width: 100%;}
a {text-decoration: underline;}



.show-white-space {
    white-space: pre-wrap;
}
.text_image {
    width: 40vw;
    height: auto;
    border-radius: 1em;
    flex-shrink: 0;
    margin:auto;
    margin-top:1vh;
    margin-bottom: 1vh;
}
h2 {
    font-size: 2em;
    //color: rgba(63,226,254,1);
}

h3 {font-size: 1.3em;}

hr {    border-top: 0 solid whitesmoke;
}
.main-window {margin-left: 3%;margin-top: 3%;overflow: visible;}


.tree-image {
    height: 60vh;
    position: absolute;
    right: 1vw;
    bottom: 0;
    overflow: hidden;
}

@media all and (max-width: 800px) {
    /* put your css styles in here */
    .main-window {margin-left: 1%; margin-top: 2%; align-content: center;}
    .text_image {width: 80vw;}
}

@media all and (max-width: 1000px) {
    .text_image {width: 70vw;}

}
@media all and (max-width: 1300px) {
    .tree-image {display: none;}

}

.error-p {font-size: 2em; color: indianred;}
