
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: black;
    color: white;

    width: 100vw;
}
h1 {
    font-size: 3em;
    background: linear-gradient(120deg, rgba(0,179,57,1) 0%, rgba(63,206,254,1) 35%, rgba(123,245,109,1) 72%, rgba(0,255,166,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}



h2 {
    font-size: 1.5em;
    background: linear-gradient(120deg, rgba(0,179,57,1) 0%, rgba(63,206,254,1) 35%, rgba(123,245,109,1) 72%, rgba(0,255,166,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {font-size: 1.3em;}

hr {    border-top: 0.2vw solid whitesmoke;
}
.main-window {margin-left: 18%;margin-top: 8%;overflow: hidden}


.tree-image {
    height: 60vh;
    position: absolute;
    right: 15%;
    bottom: 0;
    overflow: hidden;
}

@media all and (max-width: 800px) {
    /* put your css styles in here */
    .main-window {margin-left: 5%; margin-top: 4%; align-content: center;}
}

@media all and (max-width: 1300px) {
    .tree-image {display: none;}

}

.animation-container {
    overflow: visible;
    z-index: 11;

}

