.image {border-radius: 50%;
    width: 8vw;
    height: auto;
    margin-right: 10%;
    animation: fade-in 2s forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}