.wrapper {
    animation: slide-from-bottom 1s forwards;
}

.wrapper hr {
    margin-top: 5%;
    width: 50%;

}

@keyframes slide-from-bottom {
    from {
        transform: translateY(-200%);
    }
    to {
        transform: translateY(0);
    }
}

.envelope {color: white;fill:white;}

.link_group {
    margin-top: 1%;
    display: inline;
    border-top: solid 2px white;
    padding-top:1%;
}
.link_group a {text-decoration: none;padding: 1%;display: inline-block;}

.link_group a img {width: 32px; height: auto; margin: 0; margin-left: 10px; padding: 0;float: right }