
.text_section {
    margin-top : 3vh;
    margin-bottom: 3vh;
    max-width: 80%;
    overflow: hidden;
    animation: slide-in 1s forwards;
    display: inline-block;
}

.text_section hr {
    max-width: 25%;

}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
    }
    to {transform: translateX(0)
    }
}

.text_section .text_holder {
    padding: 1%;
    border-top: solid 2px white;
}


.text_holder p {
    margin-left: 1%;
}

.text_section > img {float:right;}