
.text_section {
    padding:1%;
    margin:1%;
    overflow: hidden;
    animation: slide-in 1.5s forwards;
    display: inline-block;
    width: auto;
    min-width: 100px;
    min-height: 80px;
}

.text_section hr {
    max-width: 25%;

}

.text_section_text {max-width: 600px;}

@keyframes slide-in {
    from {
        transform: translateY(-2.5%);
    }
    to {transform: translateY(0)
    }
}

.text_section .text_holder {
    padding: 1%;
}


.text_holder p {
    margin-left: 1%;
    max-width: 400px;
}

.text_section > img {float:right;}


