@keyframes slide-from-top  {
    from {
        transform: translateY(-100%) rotate(-20deg);
        transform-origin: top left;

    }
    to {
        transform: translateY(0) rotate(0);
    }

}



.megaTitle {
    animation: slide-from-top 1.5s forwards;
    transition-timing-function: ease-out;
    font-size: 7em;
    text-align: center;
}

@media all and (max-width: 800px) {
    /* put your     css styles in here */
    .megaTitle {
        text-align: center;
        font-size: 4em;
                }
}
